{% extends 'admin/base_admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
 <div class="container-flex text-center mx-2" >
    <h1 class ="ms-4 text-center ttreT">Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
              
                <th class="textArt">Client</th>
                <th class="textArt">Statut</th>  
 
               
            </tr>
        </thead>
        <tbody>
        {% for user in users %} {# parcours les users #}
            <tr>
                
                <td class="textArt"><strong>{{ user.email }}</strong><br> {{ user.prenom }} {{ user.nom }} {{ user.codePostal }} {{ user.ville }}</td>
                
                <td class="textArt"> 

                        {# gestion des rôles #}
                        {% if  user.roles[0] ==   "ROLE_TRANSIT"    %}
                            En attente de validation
                        {% elseif    user.roles[0] == "ROLE_CLIENT"  %}
                            Validé
                        {% endif   %}
                </td>
                 <td class="textArt"> 
                        {% if  user.roles[0] ==   "ROLE_TRANSIT"    %}
                            <a class= "me-4 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btn-success w-100 " href="{{ path('user_valid', {'id': user.id}) }}">Valider</a>
                            {# <a style="max-width:5rem" class="mt-2 btn btn-danger w-100 " href="{{ path('user_refute', {'id': user.id}) }}">Refuser</a> #}
                        {% elseif    user.roles[0] == "ROLE_CLIENT"  %}
                            
                             {# <a style="max-width:5rem" class="mt-2 btn btn-danger w-100 " href="{{ path('user_show', {'id': user.id}) }}">Bloquer</a> #}
                             <a class= "me-4 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btn-warning w-100 " href="{{ path('user_decline', {'id': user.id}) }}">Attente</a>
                        {% endif   %}
                </td>
                
                <td class="textArt">
                    <a class= "me-4 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btn-success w-100 "  href="{{ path('user_show', {'id': user.id}) }}">Détail</a>
                    <a class= "me-4 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btnBackMod w-100 " href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td  class="textArt" colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
    </div>
      {# <a  class=" ms-2 btnBackEnr buttonStyleC text-white btn  " href="{{ path('user_new') }}">Nouveau</a> #}
{% endblock %}
