{% extends 'admin/base_admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="container">
    <h1 class ="ms-4">Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
              
                <th>Client</th>
                <th>Statut</th>  
 
               
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                
                <td><strong>{{ user.email }}</strong><br> {{ user.prenom }} {{ user.nom }} {{ user.codePostal }} {{ user.ville }}</td>
                
                <td> 
                 {{ user.roles ? user.roles|json_encode : '' }} 
                 {% if user.roles|json_encode is "ROLE_TRANSIT"   %}
                    En attente de validation
                {# {% elseif  {{ user.roles}} == ["ROLE_CLIENT"]  %}
                    Validé #}
                 {# {% endif   %} #}

              
                
                </td>
                
                <td>
                    <a style="max-width:5rem" class="mt-2 btn btn-primary w-100 " href="{{ path('user_show', {'id': user.id}) }}">Détail</a>
                    <a style="max-width:5rem" class="mt-2 btn btn-warning w-100" href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="ms-2 btn btn-danger" href="{{ path('user_new') }}">Nouveau</a>
    </div>
{% endblock %}
