{% extends 'admin/base_admin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container-flex my-2 mx-2">
    <h1   class="ttreT text-center my-4">Utilisateur</h1>

    <table class="table">
        <tbody>
             
            <tr>
                <th class ="textArt">Email</th>
                <td class ="textArt">{{ user.email }}</td>
            </tr>
            <tr>
                <th class ="textArt">Roles</th>
                <td class ="textArt">{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            {# <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> #}
            <tr>
                <th class ="textArt">Adresse</th>
                <td class ="textArt">{{ user.adresse }}</td>
            </tr>
            <tr>
                <th class ="textArt">Code_postal</th>
                <td class ="textArt">{{ user.codePostal }}</td>
            </tr>
            <tr>
                <th class ="textArt">Complement</th>
                <td class ="textArt">{{ user.complement }}</td>
            </tr>
            <tr>
                <th class ="textArt">Nom</th>
                <td class ="textArt">{{ user.nom }}</td>
            </tr>
            <tr>
                <th class ="textArt">Prenom</th>
                <td class ="textArt">{{ user.prenom }}</td>
            </tr>
            <tr>
                <th class ="textArt">Telephone</th>
                <td class ="textArt">{{ user.telephone }}</td>
            </tr>
            <tr>
                <th class ="textArt">Ville</th>
                <td class ="textArt">{{ user.ville }}</td>
            </tr>
            <tr>
                <th class ="textArt">Points fidelite</th>
                <td class ="textArt">{{ user.pointsFidelite }}</td>
            </tr>
            <tr>
                <th class ="textArt">Pays</th>
                <td class ="textArt">{{ user.pays }}</td>
            </tr>
            <tr>
                <th class ="textArt">Rang fidelite</th>
                <td class ="textArt">{{ user.rangFidelite }}</td>
            </tr>
            <tr>
                <th class ="textArt">Kbis</th>
                <td class ="textArt">{{ user.kbis }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn  btn-dark  buttonStyleC"  href="{{ path('user_index') }}">Retour à la liste</a>
     
  </div>
    
{% endblock %}
