{% extends 'base.html.twig' %}

{% block title %}Connexion à PLF Distribution{% endblock %}

{# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{'Connexion à votre compte PLF'|trans}}" />
{% endblock %} 

{% block body %}
   <div class="fnd container-flex py-5 px-5"> 
       
       <div class="formStyle" >
           <div class="formSize">
              <div class="bg-white " style="border-radius:7px;">
                <div class="text-center mt-1 ">
                    <h1 class="ttreT">Connectez-vous</h1>
                   <p class="mx-2 textArt"> Veuillez saisir votre email et votre mot de passe.</p>
                </div>
                    <div class="d-flex flex-row justify-content-center ">
                        <div class="mx-4 w-75   ">
                        <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <label class="textArt" for="inputEmail">Email</label>
                                <input  type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control inputStyle" autocomplete="email" required autofocus>
                                <label class="mt-4 textArt" for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control inputStyle" autocomplete="current-password" required>

                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >
                                <div class="d-flex flex-row justify-content-around ">
                                    <button class="buttonStyle   btn btn-success mt-4  w-40 " type="submit">
                                        Se connecter
                                   </button>
                                     <a type="button" href="{{ path("home")}}" class="buttonStyle btn btn-dark mt-4 w-40">
                                        Annuler
                                    </a>  
                                </div>
                                
                            </form>
                            <div class="d-flex flex-row justify-content-center my-4 mb-2">
                                <a class="formLink" href={{ path('app_lost_password') }} >Mot de passe oublié</a>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>


{% endblock %}
