{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{'Recréer un nouveau mot de passe'|trans}}" />
{% endblock %} 

{% block body %}
   <div class="fnd container-flex py-5 px-5"> 
       
       <div class="formStyle" >
           <div class="formSize">
              <div class="bg-white " style="border-radius:7px;">
                <div class="text-center my-2 ">
                    <br>
                    <h1 class="ttreT my-2">Mot de passe oublié</h1>
                    <p class="mx-4 textArt">Saisissez votre email puis cliquez sur 'Envoyer email' pour recevoir le lien de réinitialisation du mot de passe.</p>
                </div>
                    <div class="d-flex flex-row justify-content-center ">
                        <div class="mx-4 w-75   ">
                          {{form_start(form)}}
                            
                            {{form_errors(form.email)}}
                            {{form_row(form.email, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} } )}}
                            
                             <div class="d-flex flex-row justify-content-around ">
                                    <button class="buttonStyle   btn btn-success mt-2 mb-4  w-40 " type="submit">
                                        Envoyer email
                                   </button>
                                     <a type="button" href="{{ path("home")}}" class="buttonStyle btn btn-dark mt-2 mb-4 w-40">
                                        Annuler
                                    </a>  
                            </div>
                            <br>
                          {{form_end(form)}}
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>


{% endblock %}

