
{% extends 'admin/base_admin.html.twig' %}

{% block title %}doc index{% endblock %}

{% block body %}
 <div class="container" >
    <h1 class ="my-2 ">Gestion des images </h1>
        <div class="margin2">

            {{ form_start(form) }}
             <div  class="d-flex flex-row ">
                {{ form_row(form.image_path) }}
                <button  class="height24 ms-2 btn btn-primary ">{{ button_label|default('Ajouter') }}</button> 
             </div>
            {{ form_end(form) }}
        </div>
    <table class="table ">
        <thead>
            <tr>
                 <th>Chemin de l'image</th>
                 <th>Visualisation</th>
                 <th > Suppression</th>
            </tr>
        </thead>
        <tbody>
         {% for file in files %}    {# parcours les fichiers #}
            <tr>
                <td  style="vertical-align:middle">{{ file.getFileName }}</td>
                <td class="Width8" ><img class="condImg"  src=" \uploads\{{ file.getRelativePathName }}" alt="fichier image"  ></td>
                <td style="vertical-align:middle" >
                   {{ include('admin/documents/_delete_form.html.twig') }}
                </td>
              </div> 
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(files,'@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
    
</div>
{% endblock %}

