{% extends 'admin/base_admin.html.twig' %}

{% block title %}Tarif index{% endblock %}

{% block body %}
<div class="container-flex my-2 mx-3">
    <h1 class="text-center ttreT my-4" >Tarifs</h1>
            <div class="">
                {{form_start(form)}}   
                   {{ form_row(form.filterByReference, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                   {{ form_row(form.filterByTarifType, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                   {{ form_row(form.filterByProduct, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                <button type="submit" class="buttonStyleC btn btn-primary mt-3">Rechercher</button>
                <a href={{ path('tarif_index') }} class="buttonStyleC btn btn-secondary mt-3">Réinitialiser</a>
                {{form_end(form)}}
            </div>
      <table class="my-4 mx-2 table">
        <thead>
            <tr>
                <th class="textArt">Réf.</th>
                <th class="textArt">Poids</th>
                 <th class="textArt">Prix.U</th>
                <th class="textArt">Type</th>
                <th class="textArt"></th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %} {# parcours les tarifs#}
            <tr>
                <td class="textArt">{{ tarif.getProduitConditionnement().reference }} <br> {{ tarif.getProduitConditionnement().getProduit().designation}}</td>
                {# <td class="textArt">{{ tarif.getProduitConditionnement().getProduit().designation }}</td> #}
                <td class="textArt">{{ tarif.getProduitConditionnement().getConditionnement().poids }}g</td>
                <td class="textArt">{{ tarif.prixUnitaire }}</td>
                <td class="textArt">{{ tarif.typePrix }}</td>
                
                <td class="text-center">
                    <a class= "me-4 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btn-success w-100 " href="{{ path('tarif_show', {'id': tarif.id}) }}">Detail</a>
                    <a class= "me-4 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btnBackMod w-100 "href="{{ path('tarif_edit', {'id': tarif.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td  class="textArt" colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btnBackEnr buttonStyleC text-white btn  " href="{{ path('tarif_new') }}">Nouveau</a>
{% endblock %}
