{% extends 'admin/base_admin.html.twig' %}

{% block title %}Tarif{% endblock %}

{% block body %}
<div class="container-flex mx-2 my-2">
    <h1  class="ttreT text-center my-4">Détail du tarif </h1>

     <table class="table mx-2">
        <tbody>
            <tr>
                <th class ="textArt" >Référence produit</th>
                <td class ="textArt" >{{ tarif.getProduitConditionnement().reference }}</td>
            </tr>
            <tr>
                <th class ="textArt" >Désignation produit</th>
                <td class ="textArt" >{{ tarif.getProduitConditionnement().getProduit().designation }}</td>
            </tr>
            <tr>
                <th class ="textArt" >Prix unitaire</th>
                <td class ="textArt" >{{ tarif.prixUnitaire }}</td>
            </tr>
            <tr>
                <th class ="textArt" >Type prix</th>
                <td class ="textArt" >{{ tarif.typePrix }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center col-12 mb-3 my-4">
        <a class="btn  btn-dark  buttonStyleC"  href="{{ path('tarif_index') }}">retour à la liste</a>
    </div> 
</div>
{% endblock %}
