{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{'Articles, recettes et informations concernant le thé'|trans}}" />
{% endblock %} 

{% block body %}
  <div class="container-flex" >
     <section id ="fondA">  
        <div class="d-flex flex-column align-items-center justify-content-end"   >
                <h2 class="mt-4 p-3 ">Retrouvez ici articles et infos, recettes, tendances sur le thé. </h2>
        </div>
     </section>
       <div class=" d-flex flex-row align-items-center justify-content-around mt-2" >
          
                {{form_start(form)}}
                 
                <div class="d-flex flex-row ">
                     {{form_row(form,{'attr': {'class':'SearchField'}  })  }} 
                     <button type="submit" "  class="mt-3 searchButton" > 
                        <img  class="searchImg" src="/images/loupe.png" >
                     </button>
                </div>
                {{form_end(form)}} 
        </div>

     <div class="  d-flex flex-column justify-content-center">
                        
                        <div class="container-flex d-flex justify-content-center row mt-2">
                                {% for article in articles %}
                                    <div class="col-sm-12 col-md-12 col-lg-4 d-flex flex-column align-items-center">
                                        <h5 class=" my-2 text-center ttreT" >{{article.titre}}</h5>
                                        <div class="mt-2 divImgCat" >
                                                
                                                <a title="Voir"  href="{{ path('infosNews_show', {'id': article.id}) }}">
                                                    <img 
                                                        src="{{ article.img }}" 
                                                        class="articlesImage"  
                                                        alt="image  article"
                                                    >
                                                </a>
                                        </div>
                                        <div class="w-75 pb-4 mt-2  categoryDescription "   >
                                            <div class=" text-center ArticleDescription">
                                                <span><p class="textArt">{{ article.description[:100] ~ '. . .' }}
                                                <a href="{{ path('infosNews_show',{ 'id' : article.id } ) }}"  > Suite.
                                                </a> </p>  </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                </div> 
            </div>

   
 </div>
{% endblock %}
