{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
  <div class="container-flex" >
     <section id ="fondA">  
        <div class="d-flex flex-column align-items-center justify-content-end"   >
                <h2 class="mt-4 p-3 ">Retrouvez ici articles et infos, recettes, tendances sur le thé. </h2>
        </div>
     </section>
      
      <section class="mt-4 d-flex flex-row justify-content-around"> 
       
        <div class="row  d-flex justify-content-center flex-wrap  align-items-start" >
     
        {% for article in articles %}
              <div class="col-12 col-sm-12 col-md-6 col-lg-3 m-2  "  > 
                 
                    <img class="mt-2 card-img-top" src="{{ article.img }}" style="height:20rem;object-fit:cover" alt="Card image cap">
                    <div class="card-body" >
                        <h5 class="card-title"><a   class="textArt1 btn-link"  href="{{ path('infosNews_show', {'id': article.id}) }}" > {{ article.titre }} </a></h5>
                        <p  class="card-text textArt1"> Editée le {{ article.dateCreation ? article.dateCreation|date('d-m-Y') : '' }} ({{ article.categorie }})</p>
                        
                    </div>
               

             </div>
            
        {% else %}
            <div>
                <p colspan="7">no records found</p>
            </div>
        {% endfor %}
      </div>
    </section>

    {# <a class="btn btn-danger"  href="{{ path('articles_new') }}">Nouveau</a> #}
 </div>
{% endblock %}
