{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{'Article concernant le thé'|trans}}" />
{% endblock %} 

{% block body %}
<div class="container my-2">
    <div class="row align-items-center">
            <table class="">
                <tbody>
                    <tr>
                        <td class="textArt "> {{ article.titre }} </td>
                        <td> <td  class="textArt"><b class=" artTitre" >Date de création : </b>  {{ article.dateCreation ? article.dateCreation|date('d-m-Y') : '' }}</td></td>
                        <td class="textArt artTitre"><b >Dans </b>{{ article.categorie }}</td>
                  
                        <td>
                             <a class=" textArt btnRetArt btn btn-dark" href="{{ path('infosNews_liste') }}"> Retour</a>
                        </td>
                    </tr>
                </tbody>
            </table>
     </div> 
     
    
    

</div>
 <div style="height:5px!important" class="W-25 bg-secondary mx-2"></div>  
<div class="container-flex my-2">
    <article class="row align-items-center">
    
            {# {{ article.contenu | raw }} #}

 {# **************************************************************************************************** #}
   
<div class="container-flex" >
        <section  id ="fond2">
            <div class="d-flex flex-column align-items-center" id="blockTitre" >
                <h1 style="font-family:Calibri" >PLF INFOS NEWS</h1>
            
            <h1 style="" class="ttreT font-weight-bold text-center  text-info" >Le marché mondial du thé.</h1>
        
      </section>
      <section class="container-flex bg-white">
      <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class=" brd  mx-1">
                <div class=" "  style="display:flex;flex-direction:column;align-items:center;border-style:none">
                      
                    <div class="d-flex my-2 w-75 justify-content-center  "> 
                      <h6 class="accroche text-start">Le marché du thé.<br>
                                                      Forte croissance en perspective...
                                                      Retrouvez ici quelques liens de sites,<br>
                                                      Qui traitent de la croissance du marché du Thé.
                                                    
                                         
                      </h6>
                    </div> 
              
                
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <div class=" d-flex justify-content-center mb-4" >
                    <img style="width:100%; "
                        src="/images/business/teamarket.jpg" 
                        class="imageCard" 
                        alt="image assam en inde"
                    >
                </div>
            </div>
  </section>
  <section class=" ms-4 bg-white article">
    <div class="row d-flex   ">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class=" brd d-flex justify-content-center mx-1">
                <div class=" "  style="border-style:none">
                       
                     
                     

                      <ul class="politiqueLien"> 
                        
                        <h2 class="textArt text-center text-info">Suivez les liens pour en savoir plus :</h2>
                                          
                        <br>
                        
                         <li><a  class="textArt" href="https://modelesdebusinessplan.com/blogs/infos/marche-the-chiffres">Le thé en France</a></li> <br>
                         <li><a  class="textArt" href="https://www.planetoscope.com/boisson/1069-.html">Consommation et tendances</a></li>  <br>
                         <li><a  class="textArt" href="https://www.etudes-et-analyses.com/blog/decryptage-economique/marche-the-france-02-03-2021.html#:~:text=Le%20march%C3%A9%20mondial%20en%202020,28%20%25%20par%20rapport%20%C3%A0%202017.">Blog eco</a></li>  <br>
                      </ul>   
                </div>
            </div>
        </div>
       
    </div>
  </section>
  </div> 
 
{# ********************************************************************************************************************** #}
    </article>
</div>
 


{% endblock %}
