{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="fnd container-flex py-5 px-2"> 
       
       <div class="formStyle " >
           <div class="container-fluid">
              <div class="bg-white" style="border-radius:7px;">
                    <div class="text-center my-2 ">
                        <br>
                        <h1 class="ttreT mt-2 mb-2">Nous contacter</h1>
                    </div>
                    <div class="d-flex flex-row justify-content-center mb-2 ">
                        <div class="mx-4 w-100 mb-2  ">
                            {{form_start(form)}}
                            {{ form_row(form.titre, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                            {{ form_row(form.content, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                            {{ form_row(form.email_customer, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                                                         <br>
                            <div class="d-flex flex-row justify-content-around ">
                                    <button class="buttonStyle btn btn-success mt-1 mb-2  w-40 " type="submit">
                                        Envoyer
                                    </button>
                                        <a type="button" href="{{ path("home")}}" class="buttonStyle btn btn-dark mt-2 mb-2 w-40">
                                        Annuler
                                    </a>  
                            </div>
                            
                            {{form_end(form)}}
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>


{% endblock %}
