{{ form_start(form) }}
  
    {{ form_row(form.reference) }}
    <div class="formRef">
        <img id="produitConditionnementIm" src=" {{produit_conditionnement.imagePath }}" class="formtemplateImg"  alt="...">   
        <span class="w-100">{{ form_row(form.image_path) }}</span>
        <button type="button"  id="opener"  class="formTemplate btn btn-primary" data-bs-toggle="modal" data-bs-target="#ImgModal">...</button>  
    </div>

    
     {{ form_row(form.quantiteStock) }}
     {{ form_row(form.produit, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
     {{ form_row(form.conditionnement, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}

    <button class="btn text-white buttonStyleC btnBackMod" btn ">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
 <div style="display:none" id="dialog" title="Sélectionnez une image">
    
        {% for key,item  in file %}
        <div  onclick="selectImage(this)" id= "dvIm{{ key }}"  class="my-2 imChoice " >
              <img id= "idIm{{ key }}"  onclick="selectImage(this)"  class="height3" src="/{{ item.pathname}}" >
              <b><a href="#" onclick="selectImage(this)" id= "linkIm{{ key }}" class="formtemplateA">{{item.filename}}</a></b>
        </div>
        <hr>
        {% endfor %}

    </div>

