{% extends 'admin/base_admin.html.twig' %}

{% block title %}ProduitConditionnement index{% endblock %}

{% block body %}
  <div class="container-flex my-2 mx-3">
    <h1  class="text-center ttreT my-4">Stock articles</h1>
             <div class="ms-2">
                {{form_start(form)}}
                {# {{form_widget(form)}} #}
                 {{ form_row(form.filterByReference, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                 {{ form_row(form.filterByProduct, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                <button type="submit" class="buttonStyleC btn btn-primary mt-3">Rechercher</button>
                <a href={{ path('produit_conditionnement_index') }} class="buttonStyleC btn btn-secondary mt-3">Réinitialiser</a>
                {{form_end(form)}}
            </div>
    <table class="my-4 mx-2 table">
        <thead>
            <tr>
                {# <th class="textArt">désignation</th> #}
                <th class="textArt">Reference</th>
                {# <th class="textArt">Image_path</th> #}
                <th class="textArt">Stock</th>
                <th class="textArt"></th>
            </tr>
        </thead>
        <tbody>
        {% for produit_conditionnement in produit_conditionnements %} {# parcours les produit conditionnements#}
            <tr>
               
                <td class="textArt">{{ produit_conditionnement.reference }}</td>              
                <td class="textArt" >{{ produit_conditionnement.quantiteStock }}</td>
                <td>
                    <a class= "me-2 maxWidth12 buttonStyleC text-white px-2 mt-2 btn btn-success w-100 " href="{{ path('produit_conditionnement_show', {'id': produit_conditionnement.id}) }}">Détail</a>
                    <a class= "me-2 maxWidth12 buttonStyleC text-white px-2 mt-2 btn btnBackMod w-100 " href="{{ path('produit_conditionnement_edit', {'id': produit_conditionnement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td  class="textArt" colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btnBackEnr buttonStyleC text-white btn"  href="{{ path('produit_conditionnement_new') }}">Nouveau</a>
    </div>
{% endblock %}
