{% extends 'admin/base_admin.html.twig' %}

{% block title %}ProduitConditionnement{% endblock %}

{% block body %}
<div class="container my-2">
    <h1>Détail de l'article en stock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit_conditionnement.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ produit_conditionnement.reference }}</td>
            </tr>
             <tr>
                <th>Produit</th>
                <td>{{ produit_conditionnement.getProduit().designation }}</td>
            </tr>
             <tr>
                <th>Conditionnement</th>
                <td>{{ produit_conditionnement.getConditionnement().designation }}</td>
            </tr>
             <tr>
                <th>Poids</th>
                <td>{{ produit_conditionnement.getConditionnement().poids }}g</td>
            </tr>
            <tr>
                <th>Image_path</th>
                <td>{{ produit_conditionnement.imagePath }}</td>
            </tr>
            <tr>
                <th>QuantiteStock</th>
                <td>{{ produit_conditionnement.quantiteStock }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('produit_conditionnement_index') }}">retour a la liste</a>

 
    </div>
{% endblock %}
