{% extends 'admin/base_admin.html.twig' %}

{% block title %}ProduitConditionnement{% endblock %}

{% block body %}
  <div class="container-flex mx-2 my-2">
    <h1  class="ttreT text-center my-4">Détail de l'article en stock</h1>

    <table class="table mx-2">
        <tbody>
            <tr>
                <th class ="textArt" >Id</th>
                <td class ="textArt" >{{ produit_conditionnement.id }}</td>
            </tr>
            <tr>
                <th class ="textArt" >Reference</th>
                <td class ="textArt" >{{ produit_conditionnement.reference }}</td>
            </tr>
             <tr>
                <th class ="textArt" >Produit</th>
                <td class ="textArt" >{{ produit_conditionnement.getProduit().designation }}</td>
            </tr>
             <tr>
                <th class ="textArt" >Conditionnement</th>
                <td class ="textArt" >{{ produit_conditionnement.getConditionnement().designation }}</td>
            </tr>
             <tr>
                <th class ="textArt" >Poids</th>
                <td class ="textArt" >{{ produit_conditionnement.getConditionnement().poids }}g</td>
            </tr>
            <tr>
                <th class ="textArt" >Image</th>
                <td class ="textArt" >{{ produit_conditionnement.imagePath }}</td>
            </tr>
            <tr>
                <th class ="textArt" >Quantite</th>
                <td class ="textArt" >{{ produit_conditionnement.quantiteStock }}</td>
            </tr>
        </tbody>
    </table>
 <div class="text-center col-12 mb-3 my-4">
    <a class="btn btn-dark  buttonStyleC" href="{{ path('produit_conditionnement_index') }}">retour a la liste</a>
 </div> 
 
    </div>
{% endblock %}
