{# {% extends "base.html.twig" %}

{% block body %}
    <div class="container py-5">
        <div class="row">

            {% include "_messages_flash.html.twig" %}
        
            <div class="col-12"> 
               
                <div class="card">
                    <div class="card-header">
                        <h3>Modifier mon mot de passe</h3>
                    </div>
                    <div class="card-body">

                        {{ form_start(form) }}

                            {{ form_row(form.currentPassword) }}
            
                            {{ form_row(form.plainPassword.first) }}

                            {{ form_row(form.plainPassword.second) }}
                       
                            <button type="submit" class="btn btn-primary mt-3">Modifier</button>

                        {{ form_end(form) }}
                      
                    </div> 
                   
                </div>
                 <a class="btn btn-secondary my-4 mx-3" href="{{ path('home') }}">Accueil</a>
            </div>
        </div>
    </div>


{% endblock %} #}
{% extends 'base.html.twig' %}

 {% block title %}Changer de mot de passe{% endblock %}

{% block body %}
   <div class="fnd container-flex py-5 px-5"> 
       
       <div class="formStyle" >
           <div class="formSize">
              <div class="bg-white " style="border-radius:7px;">
                <div class="text-center my-2 ">
                    <br>
                    <h1 class="ttreT my-2">Modifier votre de mot de passe</h1>
                    {# <p class="mx-4 textArt">Saisissez votre email puis cliquez sur 'Envoyer email' pour recevoir le lien de réinitialisation du mot de passe.</p> #}
                </div>
                    <div class="d-flex flex-row justify-content-center ">
                        <div class="mx-4 w-75   ">
                         {{ form_start(form) }}

                            {{ form_row(form.currentPassword, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} } )}}
            
                            {{ form_row(form.plainPassword.first, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} } )}}

                            {{ form_row(form.plainPassword.second, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} } )}}
                            
                            {# {{form_errors(form.email)}}
                            {{form_row(form.email, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} } )}} #}
                             {# {{ form_row(form.plainPassword) }} #}

                             <div class="d-flex flex-row justify-content-around ">
                                    <button class="buttonStyle   btn btn-success mt-2 mb-4 mx-2 w-40 " type="submit">
                                        Modifier
                                   </button>
                                     <a type="button" href="{{ path("home")}}" class="buttonStyle btn btn-dark mt-2 mb-4 mx-2 w-40">
                                        Annuler
                                    </a>  
                            </div>
                            <br>
                          {{form_end(form)}}
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>


{% endblock %}
