{% extends 'admin/base_admin.html.twig' %}

{% block title %}Conditionnement index{% endblock %}

{% block body %}
    <div class="container-flex my-2 mx-3">
        <h1 class="text-center ttreT">Conditionnement</h1>

        <table class="table">
            <thead>
                <tr>
                
                    <th class="textArt">Reference</th>
                    <th class="textArt">Designation</th>
                    <th class="textArt">Poids(gr)</th>
                    <th class="textArt" ></th>
                </tr>
            </thead>
            <tbody>
            {% for conditionnement in conditionnements %}   {# parcours les conditionnements#}
                <tr>
                
                    <td class="textArt">{{ conditionnement.reference }}</td>
                    <td class="textArt">{{ conditionnement.designation }}</td>
                    <td class="textArt">{{ conditionnement.poids }}</td>
                    <td class="text-center" >
                        <a  class= "ms-2 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btn-success w-100 " href="{{ path('conditionnement_show', {'id': conditionnement.id}) }}">Détail</a>
                        <a  class= "ms-2 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btnBackMod w-100 " href="{{ path('conditionnement_edit', {'id': conditionnement.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btnBackEnr buttonStyleC text-white btn  " href="{{ path('conditionnement_new') }}">Nouveau</a>
    </div>
{% endblock %}
