{% extends 'admin/base_admin.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
 <div class="container-flex my-2 mx-3">
    <h1  class="text-center ttreT my-4">News & Articles</h1>

    <table class="my-4 mx-2 table">
        <thead>
            <tr>
                <th class="textArt">Titre</th>
                <th class="textArt">Création&nbsp</th>
                <th class="textArt">Categorie</th>
                <th class="textArt"> </th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="textArt">{{ article.titre }}</td>
                <td  class="textArt  ">{{ article.dateCreation ? article.dateCreation|date('d-m-y') : '' }}</td>
                <td class="textArt">{{ article.categorie }}</td>
                <td class="textArt">
                    <a class= " maxWidth12 buttonStyleC text-white px-4 mt-2 btn btn-success w-100 "  href="{{ path('articles_show', {'id': article.id}) }}">Détail</a>
                    <a class= " maxWidth12 buttonStyleC text-white px-4 mt-2 btn btnBackMod w-100 " href="{{ path('articles_edit', {'id': article.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="textArt" colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btnBackEnr buttonStyleC text-white btn  " href="{{ path('articles_new') }}">Nouveau</a>
 </div>
{% endblock %}
