{{ form_start(form) }}
   
      {{ form_row(form.gamme, {'attr': {'class': 'textArt'} }) }}
      {{ form_row(form.nom) }}
      {{ form_row(form.description) }}
      
      <div style="display:flex;flex-direction:row;align-items:center">
        <img id="CategoryIm1"  src=" \{{category.imagePath1 }}" class="formtemplateImg"  alt="...">   
        <span class="w-100">{{ form_row(form.imagepath1) }}</span>
          <button type="button"  id="opener1"   class="formTemplate btn btn-primary ">...</button>

      </div>
       <div style="display:flex;flex-direction:row;align-items:center">
        <img id="CategoryIm2"   src=" \{{category.imagePath2 }}" class="formtemplateImg"  alt="...">   
        <span class="w-100">{{ form_row(form.imagepath2) }}</span>
         <button type="button"  id="opener2"    class="formTemplate btn btn-primary">...</button>
      </div>
       <div style="display:flex;flex-direction:row;align-items:center">
        <img id="CategoryIm3"   src=" \{{category.imagePath3 }}" class="formtemplateImg"  alt="...">   
        <span class="w-100">{{ form_row(form.imagepath3) }}</span>
         <button type="button"    id="opener3"  class="formTemplate btn btn-primary">...</button>
      </div>
  

     <div class="pos-button my-4 ">
          <button class="btn text-white buttonStyleC btnBackMod">{{ button_label|default('Enregistrer') }}</button>
     </div>
{{ form_end(form) }}
 <div style="display:none" id="dialog1" title="Sélectionnez une image">   
        {# boite dialog des images #}
        {% for key,item  in file %}
        <div  onclick="selectImageCat(this,1)" id= "dvIm{{ key }}"  class="my-2 imChoice " >
              <img id= "idIm{{ key }}"  onclick="selectImageCat(this,1)"  class="height3" src="/{{ item.pathname}}" >
              <b><a href="#" onclick="selectImageCat(this,1)" id= "linkIm{{ key }}" class="formtemplateA" >{{item.filename}}</a></b>
        </div>
        <hr>
        {% endfor %}

  </div>
  <div style="display:none" id="dialog2" title="Sélectionnez une image">
        {# boite dialog des images #}
        {% for key,item  in file %}
          <div  onclick="selectImageCat(this,2)" id= "dvIm{{ key }}"  class="my-2 imChoice " >
                <img id= "idIm{{ key }}"  onclick="selectImageCat(this,2)" class="height3" src="/{{ item.pathname}}" >
                <b><a href="#" onclick="selectImageCat(this,2)" id= "linkIm{{ key }} " class="formtemplateA"  >{{item.filename}}</a></b>
          </div>
          <hr>
        {% endfor %}

  </div>
  <div style="display:none" id="dialog3" title="Sélectionnez une image">
        {# boite dialog des images #}
        {% for key,item  in file %}
          <div  onclick="selectImageCat(this,3)" id= "dvIm{{ key }}"  class="my-2 imChoice " >
                <img id= "idIm{{ key }}"  onclick="selectImageCat(this,3)" class="height3" src="/{{ item.pathname}}" >
                <b><a href="#" onclick="selectImageCat(this,3)" id= "linkIm{{ key }}" class="formtemplateA"  >{{item.filename}}</a></b>
          </div>
          <hr>
        {% endfor %}

  </div>

