{% extends 'admin/base_admin.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
     <div class="container-flex my-2 mx-3">
        <h1  class="text-center ttreT my-4">Recettes</h1>
            <div class="">
                {{form_start(form)}}
                {# {{form_widget(form)}} #}
                 {{ form_row(form.filterByNom, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                 {{ form_row(form.filterByProduct, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                <button type="submit" class="buttonStyleC btn btn-primary mt-3">Rechercher</button>
                <a href={{ path('recette_index') }} class="buttonStyleC btn btn-secondary mt-3">Réinitialiser</a>
                {{form_end(form)}}
            </div>
        <table class="my-4 mx-2 table">
            <thead>
                <tr>
                    
                    <th class="textArt">Nom</th>
                    <th class="textArt">Description</th>
                    {# <th class="textArt">Icône</th> #}
                    <th class="textArt">produit</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
            {% for recette in recettes %}    
                <tr>
               
                    <td class="textArt">{{ recette.nom }}</td>
                    <td class="textArt">{{ recette.description }}</td>
                    {# <td class="textArt "><img style="border-radius:7px;display:flex;width:2rem" src="\{{ recette.imagepath}}" alt=""  ></td> #}
             
                    <td class="textArt">{{ recette.getProduct().designation }}</td>
                    <td>
                        <a class= "me-4 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btn-success w-100 " href="{{ path('recette_show', {'id': recette.id}) }}">Détail</a>
                        <a class= "me-4 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btnBackMod w-100 " href="{{ path('recette_edit', {'id': recette.id}) }}">Modifier</a>
                   </td>
                </tr>
            {% else %}
                <tr>
                    <td class="textArt" colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

          <a class="btnBackEnr buttonStyleC text-white btn " href="{{ path('recette_new') }}">Nouveau</a>
     </div>    
{% endblock %}
