 

{% extends 'admin/base_admin.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}

     
<div class="container-flex mx-2 my-2">
    <div>
            <h1  class="ttreT text-center my-4" style="margin-bottom:2rem"> Détail de la recette </h1>
    </div>
    <div class="row align-items-center">
                <div class="col-2 col-lg-2">
                     
                                <img class="ms-2 formRecetteImg"  src="\{{ recette.imagePath }}" alt=""  >
                     
                </div>
                <div class="col-10 col-lg-10">
                    <table class="table">
                        <tbody>
                           
                            <tr>
                                <th class ="textArt">Nom</th>
                                <td class ="textArt">{{ recette.nom }}</td>
                            </tr>
                            <tr>
                                <th class ="textArt">Recette</th>
                                <td class ="textArt">{{ recette.description }}</td>
                            </tr>
                             <tr>
                                <th class ="textArt">Produit</th>
                                <td class ="textArt">{{ recette.getProduct().designation }}</td>
                            </tr>
                                
                        </tbody>
                    </table>
                </div> 
    </div>

    <div class="text-center col-12 mb-3 my-4">
        <a class="btn  btn-dark  buttonStyleC" href="{{ path('recette_index') }}">retour liste</a>
    </div>
    
</div>
{% endblock %}
