 {# dialogbox #}
 <div style="display:none" id="dialog-form" title="Sélectionnez une image">
    
        {% for key,item  in file %}
        <div  onclick="selectImage(this)" id= "dvIm{{ key }}"  class="my-2 imChoice " >
              <img id= "idIm{{ key }}"  onclick="selectImage(this)" style="height:3rem;" src="/{{ item.pathname}}" >
              <b><a href="#" onclick="selectImage(this)" id= "linkIm{{ key }}" style="height:max;text-decoration:none;font-size:small" class="mx-2 mt-2 ">{{item.filename}}</a></b>
        </div>
        <hr>
        {% endfor %}

    </div>