 <div class="container-flex">
 {% if app.user %} 
  <div id="accBar"  class="text-black px-2">
            
            <div id="divDeconnect" class="DeconnectButtonSM" style= "margin-left:2rem;width:2.6rem;height:2rem;display:flex;align-items:center;margin-right:2rem;text-align:center">
                  <div style="line-height:25px;display:flex;flex-direction:column;align-items:center;text-align:center">
                        <a class="DeconnectButtonSM" style="color:#000" href="{{ path('app_logout') }}" >
                                        <img  style= " margin-top:1rem;min-height:5.2rem!important;min-width:5.2rem!important;object-fit:cover!important " src="/images/menu/deconnexion.png   " alt="logo déconnexion" >
                        </a>
                        Déconnexion
                  </div>
            </div>
            <ul id="ConnectedBar" >
            
                <li>
                  <a class="ms-4 clCompte text-secondary" id="shAccount"

                         href="{{ path('show_account_roleA') }}"  >
                        <img  height="40" src="/images/menu/utilisateur.png " alt="logo compte" >
                  </a>    
                 
                <li>
                  {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                         <a class="text-black" href="{{ path('show_account_roleA') }}"><b>Bienvenue  {{app.user.prenom}} {{app.user.nom}}</b></a>
                  {% elseif app.user.roles[0] is same as "ROLE_CLIENT" %}
                         <a class="text-black" href="{{ path('show_account_roleC') }}"  ><b>Bienvenue  {{app.user.prenom}} {{app.user.nom}}</b></a>   
                  {% else %}
                         <a class="text-black" href="{{ path('show_account_roleT') }}"  ><b>Bienvenue  {{app.user.prenom}} {{app.user.nom}}</b></a>    
                  {% endif %} 
                  
                </li>

            </ul>
            
            <div id="divCart">
                  <div style="line-height:2px">
                        <a  href="{{ path('cart_detail') }}">
                            <img id=imcrt src="/images/cart.svg" />
                        </a> 
                       panier  
                 </div>
            </div>
  </div>
  {% endif %}
<div class="bg-black" >
  <nav class=" navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid  " >
      <span>
                    <a href="{{ path('home') }}">
                        <img id="imgNav" src="/images/menu/logofondnoir.png   " alt="logo de la société">
                    </a>
      </span>
            <button  class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span   id="hamburgerBt" class="navbar-toggler-icon"></span>
            </button>
             
       
      <div class="collapse navbar-collapse  " id="navbarSupportedContent"   >
        <ul  class="text-white navbar-nav me-auto mb-2 mb-lg-0 " >
  
          {% if app.user %} 

              {% if app.user.roles[0] is same as "ROLE_ADMIN" %}

                  <li  class="nav-item text-warning">
                    <a class="nav-link MenuSm" href="{{ path('admin') }}">Administration</a>
                  </li>
              
              {% endif %}  

                      
          {% endif %} 

          <li class="nav-item">
              <a class="MenuSm nav-link" href="{{ path('gamme_index') }}">Notre gamme</a>
          </li>

          <li class="nav-item">
              <a class="nav-link MenuSm" href="{{ path('metier') }}">Notre métier</a>
          </li>

          <li class="nav-item">
              <a class="nav-link MenuSm" href="{{ path('engagement') }}">Notre engagement</a>
          </li>

          <li class="nav-item">
              <a class="nav-link MenuSm" href="{{ path('offresPro') }}">Nos offres PRO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link MenuSm" href="{{ path('infosNews_liste') }}">Infos News</a>
          </li>
     
      {% if app.user %} 
              {% if app.user.roles[0] is same as "ROLE_CLIENT" %}

                  <li class="nav-item">
                    <a class="nav-link MenuSm" href="{{ path('services') }}">Vos services</a>
                  </li>
              
              {% endif %}  
              {% if app.user.roles[0] is same as "ROLE_TRANSIT" %}
  
                  <li class="nav-item">
                    <a class="nav-link MenuSm" href="{{ path('encours') }}">Votre statut</a>
                  </li>
              
              {% endif %}  
           
                  <li class="nav-item">
                    <a class="nav-link MenuSm" href="{{ path('cart_detail') }}">Mon panier</a>
                  </li>
            
      {% endif %} 
        <li class="nav-item">
            <a class="nav-link MenuSm" href="{{ path('contact') }}">Contact</a>
          </li>
        
            
        
        </ul>
       
        <ul id="connectPanel" style="list-style:none;margin-top:1rem; display:flex;flex-direction:row;align-items:center;justify-content:space-between">
                    <li>
                      {% if not app.user %} 
                      <div class="d-flex flex-row ">
                        <div class="d-flex flex-column text-center">
                              <a title="Connexion" style="color:#769643" href="{{ path('app_login') }}" >
                                  <img width="25" id="imgNav" src="/images/menu/utilisateur-vert.png   " alt="logo connexion" >
                              </a>
                              <p style="color:#769643;font-size:x-small" class=" "> Connexion</p> 
                        </div>
                       <div class="d-flex flex-column text-center ms-4">
                              <a class="" title="Inscription"   href="{{ path('app_register') }}" >
                                            <img   width="25" src="/images/menu/reg.svg   " alt="logo connexion" >
                             </a>
                              <p style="color:#769643;font-size:x-small" class=" "> Inscription</p> 
                        </div>
                      </div>  
                      {% else %}
                     
                            <a title="déconnexion" style="color:#769643" href="{{ path('app_logout') }}" >
                                <img width="25" id="imgNav" src="/images/menu/deconnexion_b.png   " alt="logo déconnexion" >
                            </a>
                      
                      {% endif %} 
                   </li>
         </ul>
   
      </div> 
     
    </div>
  
  </nav>
    {% if  not app.user %} 
      <div class="pt-4 bg-white" style="font-size:x-large;height:8rem;background-color:white; display:none;flex-direction:row;justify-content:space-around;align-items:center" id="barAcc">
                            
                               <a style="text-align: center;color:#769643;text-decoration:none" href="{{ path('app_login') }}" >
                                      <img width="50" src="/images/menu/utilisateur-vert.png   " alt="logo connexion" >
                                      <p>Se connecter</p>
                               </a>
                        
                               <a style="text-align: center;color:#769643;text-decoration:none" href="{{ path('app_register') }}" >
                                      <img   width="50" src="/images/menu/reg.svg   " alt="logo connexion" >
                                      <p>S'inscrire</p>
                               </a>
                          
          
      </div>
    {% endif %} 
  <div class="bg-black" >
    
  </div>
      
 
</div>
 