 {% if app.user %} 
  <div style="height:2.5rem;display:flex; ;align-items:center;justify-content:space-between" class="bg-secondary text-white">
            <ul  style="list-style:none;margin-top:1.8rem;display:flex;flex-direction:row;justify-content:space-between">
              <li>
                  <p>Bienvenue {{app.user.prenom}} {{app.user.nom}}</p>  
                 
              </li>
                {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                         <li> <a class="ms-4 clCompte  " href="{{ path('show_account_roleA') }}">Mon Compte  </a><li>
                  {% elseif app.user.roles[0] is same as "ROLE_TRANSIT" %}
                          <li> <a class="ms-4 clCompte  " href="{{ path('show_account_roleT') }}">Mon Compte  </a><li>
                    {% elseif app.user.roles[0] is same as "ROLE_CLIENT" %} 
                          <li> <a class="ms-4 clCompte  " href="{{ path('show_account_roleC') }}">Mon Compte  </a><li>
                    {% endif %} 
            </ul>
            <div style= "width:2.6rem;height:2rem;display:flex;align-items:center;margin-right:1rem;text-align:center" id="imcart">
                 
                        <a  href="{{ path('cart_detail') }}">
                            <img  style="height:2.5rem;width:2.5rem;margil-left:0.5rem"  src="/images/cart-icon-transparent-18.jpg" />
                        </a>   
                 
            </div>
  </div>
  {% endif %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=" {{ path('home')}}">Plf Distribution</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
 
         {% if app.user %} 

            {% if app.user.roles[0] is same as "ROLE_ADMIN" %}

                <li class="nav-item">
                  <a class="nav-link" href="{{ path('admin') }}">Administration</a>
                </li>
            
            {% endif %}  

                    
        {% endif %} 

        <li class="nav-item">
            <a class="nav-link" href="{{ path('gamme_index') }}">Notre gamme</a>
        </li>

         <li class="nav-item">
            <a class="nav-link" href="{{ path('metier') }}">Notre métier</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('engagement') }}">Notre engagement</a>
        </li>


     {% if  not app.user %} 
        
         <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
          </li>
    {% else %} 

            {% if app.user.roles[0] is same as "ROLE_CLIENT" %}

                <li class="nav-item">
                  <a class="nav-link" href="{{ path('services') }}">Vos services</a>
                </li>
            
            {% endif %}  
            {% if app.user.roles[0] is same as "ROLE_TRANSIT" %}
 
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('encours') }}">Votre statut</a>
                </li>
            
            {% endif %}  
             <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
            </li>  

             {# {% if app.user.roles[0] is not same as "ROLE_TRANSIT" %} #}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('cart_detail') }}">Mon panier</a>
                </li>
           
     {% endif %} 
       <li class="nav-item">
          <a class="nav-link" href="{{ path('contact') }}">Contact</a>
        </li>
       
           
      
      </ul>
       
    </div> 
  </div>
</nav>
