{% extends "admin/base_admin.html.twig" %}

{% block body %}

<div class="container-flex py-5 px-2">
    <div class="row ">
        <div class="col-12">
            <h3 class="ttreT2 text-center">
                Commandes
            </h3>
        </div>
        {% include "_messages_flash.html.twig" %}
        <div class="my-4 d-flex justify-content-center">
           {{ knp_pagination_render(commandShop,'@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}    {# paginateur #}
        </div>                       
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class ="textArt text-center" scope="col">Cde.</th>
                                        <th class ="textArt text-center" scope="col">Date</th>
                                        <th class ="textArt text-center" scope="col">Société</th>
                                        <th class ="textArt text-center" scope="col">Livraison</th>
                                        <th class ="textArt text-center" scope="col">Action</th>
                                        <th class ="textArt text-center" scope="col">Total</th>
                                        {# <th class ="textArt text-center" scope="col">Détail</th> #}
                                    </tr>
                                </thead>
                                <tbody>  
                                       
                                    {% for item in commandShop %}   {# parcours les commandes #}
                                        <tr>
                                            <td class ="textArt text-center" >
                                             <a title="Voir le détail de la commande" href="{{ path('command_shop_detail',{'id': item.id }) }}" class="textArt btn btn-link">
                                                    #{{ item.id }}
                                             </a>                          
                                            </td>
                                            <td class ="textArt text-center"  >{{ item.createdAt | date('d-m-y') }}</td>
                                            <td class ="textArt text-center" >{{item.getDeliveryAddress().getRaisonSoc()   }}</td>  
                                            <td class ="textArt text-center" >{% if ( item.getIsShipped() ) %}
                                                   <b><p class="text-success">OK</p></b>
                                                 {% else   %}
                                                   <b><p class="text-warning">NON</p></b>
                                                 {% endif %}
                                            </td>  
                                            <td class ="text-center" >
                                                <a class="d-flex justify-content-center textArt" href="{{ path('command_livraison', {'id': item.id}) }}">
                                                       <div style="border-radius:7px%;height:2rem;width:2.5rem " id="box" >
                                                             <img style=";width:1.5rem;height:1.5rem" title="Bacule en statut Expédié/Non expédié" src="/images/cardboard-box.png" />
                                                       </div>
                                                </a> 
                                            </td>
                                            <td class ="textArt text-center" >{{ item.totalPrice | euroPrice }}</td>
                                         
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}