{% extends "base.html.twig" %}

{% block body %}

<div class="container-flex" > 
 <div class="fnd d-flex flex-column align-items-center m" >
 
   <div class="my-4 bg-white ctIm   d-flex flex-column justify-content-center">
 
     <h1 class="ttreT text-center mt-2">Mon panier</h1>
    {# <div class="block"> #}
         {% for item in cart["detailCart"] %}
            <div class="mt-1 " >
              
                <div class="panier " >
                  
                    <div style="width:5rem;">
                        <img src=" {{ item.product.imagePath }}" alt="Image {{ item.product.getProduit().designation }}" class="imageDetailPanier"/>
                    </div>
                    <div >
                        <span> <p class="panierDesi ms-4"><b>{{ item.product.getProduit().designation }} {{ item.getConditionnement() }}</b> <br> <i>  Réf. {{ item.product.reference }} </i> </p> </span>  
                    </div>   
                 
                    <div   style="display:flex;flex-direction:row;justify-content:start">
                            <div class="panier panierDroit">
                                 
                                    <p  title="Prix unitaire TTC sans les frais de port" class ="panierPrice" >  {{ item.getPrice() | euroPrice }} </p>
                               
                                    <a class="btRg btn btn-success" href="{{ path('cart_decrement',{'id': item.product.id}) }}?returnToCart=true"><strong>-</strong></a>
                                    <p id= "panierQte">{{ item.qty }} </p>
                                    <a class="btRg btn btn-success " href="{{ path('cart_add',{'id': item.product.id}) }}?returnToCart=true"><strong>+</strong></a>
                                    <a class="btn btn-link text-danger btn-sm" href="{{ path('cart_remove',{'id' : item.product.id }) }}"></i> 
                                       <img class="trash" src="/images/trash.png"    />
                                    </a>  
                                    <p class=" ms-4 panierTot"> {{ item.total | euroPrice }} </p> 
                            </div>
                     </div>  
                </div>   
              
            </div>
            <hr>
        {% endfor %}
       <div class="d-flex flex-column align-items-center justify-content-center flex-wrap">
           <div>
            <p class="panierSousTot"><strong>Sous Total T.T.C: </strong><label title="Prix total sans les frais de port" class="ms-4 panierPrice"><strong class="panierSousTot">{{ cart['sousTotal'] | euroPrice }}</label></strong></p> 
            <p class="notPort"> ( Hors frais de port ) </p>
           </div>
        </div>
        <hr><br>
           
          <div class="d-flex flex-row justify-content-around ">
                <a class="buttonStyle btn btn-success mt-2 mb-4  w-40 " href="{{ path('gamme_index') }}"    >
                    Retour achats
                </a>
                    <a type="button" href="{{ path('command_recap') }}" class="buttonStyle btn btn-dark mt-2 mb-4 w-40">
                     Paiement
                </a>  
           </div>
            <br>
    </div>
  </div>
</div>
{% endblock %}