{% extends "base.html.twig" %}

{% block body %}

<div class="container" > 
 <div class="fnd d-flex flex-column align-items-center m" >
 
   <div class="my-4 bg-white ctIm   d-flex flex-column justify-content-center">
 
     <h1 class="text-center mt-1">Mon panier</h1>
    {# <div class="block"> #}
         {% for item in cart["detailCart"] %}
            <div class="mt-1 " >
              
                <div class="panier " >
                    <div style="width:5rem">
                        <img src=" {{ item.product.imagePath }}" alt="Image {{ item.product.getProduit().designation }}" class="imageDetailPanier"/>
                    </div>
                    <div style="width:20rem">
                        <span class="panierDesi"> <p class="ms-4"><b>{{ item.product.getProduit().designation }} {{ item.getConditionnement() }}</b> <br> <i>  Réf. {{ item.product.reference }} </i> </p> </span>  
                    </div>    
                    <div class="" style="">
                            <div class="panier">
                             
                                    <p  title="Prix unitaire TTC sans les frais de port" class ="panierPrice" >  {{ item.getPrice() | euroPrice }} </p>
                               
                                    <a class="btRg btn btn-success" href="{{ path('cart_decrement',{'id': item.product.id}) }}?returnToCart=true"><strong>-</strong></a>
                                    <p id= "panierQte">{{ item.qty }} </p>
                                    <a class="btRg btn btn-success " href="{{ path('cart_add',{'id': item.product.id}) }}?returnToCart=true"><strong>+</strong></a>
                                    <a class="btn btn-link text-danger btn-sm" href="{{ path('cart_remove',{'id' : item.product.id }) }}"></i> 
                                       <img class="trash" src="/images/trash.png"    />
                                    </a>  
                                    <p class=" ms-4 panierTot"> {{ item.total | euroPrice }} </p> 
                            </div>
                     </div>  
                </div>   
              
            </div>
            <hr>
        {% endfor %}
       <div class="d-flex flex-column align-items-center justify-content-center flex-wrap">
           <div>
            <p class="panierSousTot"><strong>Sous Total T.T.C: </strong><label title="Prix total sans les frais de port" class="ms-4 panierPrice"><strong class="panierSousTot">{{ cart['sousTotal'] | euroPrice }}</label></strong></p> 
            <p class=""> ( Hors frais de port ) </p>
           </div>
        </div>
        <hr><br>
           <div class="d-flex justify-content-around">
                    <a    class="py-1 btPanier text-center" href="{{ path('gamme_index') }}">
                        Retour au shopping
                    </a>
                    <p style="font-size:small" ></p> 
                 
                <a href="{{ path('command_recap') }}" class="bg-success ms-2 py-1 btPanierFinal text-center">
                        Régler votre commande 
                </a>
            </div>
            <br>
    </div>
  </div>
</div>
{% endblock %}