{% extends 'admin/base_admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

 <div class="container-flex my-2 mx-3">
    <h1  class="text-center ttreT my-4">Liste des produits</h1>
            <div class="ms-2">
                {{form_start(form) }}         
                {{ form_row(form.filterByName, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                {{ form_row(form.filterByCategory, {'label_attr': {'class': 'textArt'},'attr': {'class': 'inputStyle'} }) }}
                <button type="submit" class="buttonStyleC btn btn-primary mt-3">Rechercher</button>
                <a href={{ path('product_index') }} class="buttonStyleC btn btn-secondary mt-3">Réinitialiser</a>
                {{form_end(form)}}
            </div>

   <div style="margin-top:0rem;display:flex;justify-content:center"> {{ knp_pagination_render(products, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }} </div>
     <div class="text-center"> {% include "_messages_flash.html.twig" %} </div>
    <table class="mb-4 mx-2 table">
        <thead>
            <tr>
                <th class="textArt">Designation</th>
                <th class="textArt">Description</th>
                <th class="textArt">Categorie</th>
               
                <th class="textArt"></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}   {# parcours les produits #}
            <tr>
             
                <td class="textArt">{{ product.designation }}</td>
                <td class="textArt">{{ product.description }}</td>
                <td class="textArt">{{ product.getCategory().nom }}</td>
                
                <td>
                    <a class= "me-4 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btn-success w-100 " href="{{ path('product_show', {'id': product.id}) }}">Détails</a>
                    <a class= "me-4 maxWidth12 buttonStyleC text-white px-4 mt-2 btn btnBackMod w-100 " href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="textArt" colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btnBackEnr buttonStyleC text-white btn  " href="{{ path('product_new') }}">Nouveau</a>
    </div>
{% endblock %}
