{% extends 'admin/base_admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

<div class="container my-2">
    <h1  class="my-4">Liste des produits</h1>
            <div class="">
                {{form_start(form)}}
                {{form_widget(form)}}
                <button type="submit" class="btn btn-primary mt-3">Rechercher</button>
                <a href={{ path('product_index') }} class="btn btn-secondary mt-3">Réinitialiser</a>
                {{form_end(form)}}
            </div>
    <table class="my-4 table">
        <thead>
            <tr>
               
                <th>Designation</th>
                <th>Description</th>
                <th>Categorie</th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
              
                <td>{{ product.designation }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.getCategory().nom }}</td>
                 
                <td>
                    <a style="max-width:5rem" class="mt-1 btn btn-primary w-100 " href="{{ path('product_show', {'id': product.id}) }}">Détails</a>
                    <a style="max-width:5rem" class="mt-1 btn btn-warning w-100 " href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ path('product_new') }}">Nouveau</a>
    </div>
{% endblock %}
