{% extends 'admin/base_admin.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="container my-2">
    <h1>Détail du produit </h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr> #}
            <tr>
                <th>Catégorie</th>
                <td>{{ product.getCategory().nom }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ product.designation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Accroche</th>
                <td>{{ product.accroche }}</td>
            </tr>
            <tr>
                <th>Composition</th>
                <td>{{ product.composition }}</td>
            </tr>
            <tr>
                <th>Dose recommandée</th>
                <td>{{ product.recoDose }}</td>
            </tr>
            <tr>
                <th>Usage</th>
                <td>{{ product.recoUsage }}</td>
            </tr>
            <tr>
                <th>Durée d'infusion</th>
                <td>{{ product.recoDuree }}</td>
            </tr>
            <tr>
                <th>Chemin de la vidéo</th>
                <td>{{ product.videoPath }}</td>
            </tr>
            <tr>
                <th>BIO</th>
                <td>{{ product.isBio ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Origine</th>
                <td>{{ product.origine }}</td>
            </tr>
            <tr>
                <th>Visibilité</th>
                <td>{{ product.role }}</td>
            </tr>
            <tr>
                <th>Resumé</th>
                <td>{{ product.resume }}</td>
            </tr>
            {# <tr>
                <th>Parent</th>
                <td>{{ product.parent ? 'Yes' : 'No' }}</td>
            </tr> #}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('product_index') }}">retour liste</a>
</div>
    {# <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('admin/product/_delete_form.html.twig') }} #}
{% endblock %}
