{% extends 'admin/base_admin.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
  <div class="container-flex mx-2 my-2">
    <h1  class="ttreT text-center my-4">Détail du produit </h1>

    <table class="table mx-2">
        <tbody>
            <tr>
                <th class ="textArt" >Catégorie</th>
                <td class ="textArt">{{ product.getCategory().nom }}</td>
            </tr>
            <tr>
                <th class ="textArt">Designation</th>
                <td class ="textArt">{{ product.designation }}</td>
            </tr>
            <tr>
                <th class ="textArt">Description</th>
                <td class ="textArt">{{ product.description }}</td>
            </tr>
            <tr>
                <th class ="textArt">Accroche</th>
                <td class ="textArt">{{ product.accroche }}</td>
            </tr>
            <tr>
                <th class ="textArt">Composition</th>
                <td class ="textArt">{{ product.composition }}</td>
            </tr>
            <tr>
                <th class ="textArt">Dose recommandée</th>
                <td class ="textArt">{{ product.recoDose }}</td>
            </tr>
             <tr>
                <th class ="textArt">Dose recommandée</th>
                <td class ="textArt">{{ product.recoTemp }}</td>
            </tr>
            <tr>
                <th class ="textArt">Usage</th>
                <td class ="textArt">{{ product.recoUsage }}</td>
            </tr>
            <tr>
                <th class ="textArt">Durée d'infusion</th>
                <td class ="textArt">{{ product.recoDuree }}</td>
            </tr>
            <tr>
                <th class ="textArt">Chemin de la vidéo</th>
                <td class ="textArt">{{ product.videoPath }}</td>
            </tr>
            <tr>
                <th class ="textArt">BIO</th>
                <td class ="textArt">{{ product.isBio ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th class ="textArt">Origine</th>
                <td class ="textArt">{{ product.origine }}</td>
            </tr>
            <tr>
                <th class ="textArt">Visibilité</th>
                <td class ="textArt">{{ product.role }}</td>
            </tr>
            <tr>
                <th class ="textArt">Resumé</th>
                <td class ="textArt">{{ product.resume }}</td>
            </tr>
         
        </tbody>
    </table>
    <div class="text-center col-12 mb-3 my-4">
        <a class="btn  btn-dark  buttonStyleC" href="{{ path('product_index') }}">retour liste</a>
    </div> 
</div>
  
{% endblock %}
