{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="container  py-1" >  
        <h3 class="text-center my-4" > Notre gamme de thés en quelques clics </h3>
          <div class="ms-4 categoryBlock" >
                  <div class="my-2 categoryText" >
                      <div class="d-flex flex-row">
                        <img style="width:35px" class=""   src="images/drapeaux/globe.gif"  alt="japon" >  
                        <h4> origines diversifiées</h4>
                        </div> 
                                      
                      <p> Pour votre activité de détaillant en thés et infusions, nous avons sélectionnés une large gamme de thés, issue du monde entier : 
                          chine, Inde, Japon, Pakistan . . .   mais aussi des producteurs locaux. Vous avez ainsi la possibilité de proposer à vos clients des
                          produits divers et variés. 
                          Nous respectons avant tout des normes de qualités trés strictes, pour sélectionner nos producteurs, afin de vous garantir les meilleures
                          produits pour vos clients.
                          <br>
                      <p>  
                      <div class="my-2 text-center"  >   
                                    
                                    <img style="width:35px" class=""   src="images/drapeaux/drapeau-du-japon.gif"  alt="japon" >  
                                    <img style="width:35px" class=""   src="images/drapeaux/drapeau-de-l-inde-image.gif"  alt="inde" >  
                                    <img style="width:35px" class=""   src="images/drapeaux/83YA.gif"  alt="pakistan" >  
                                    <img style="width:35px" class="" src="images/drapeaux/france8.gif"  alt="france" >  
                                    <img style="width:50px" class="" src="images/drapeaux/drapeau-chine_240-gif.gif"  alt="chine" >   
                      </div>
                  </div>  
                  <div class="my-2 categoryText" > 
                     
                       <div class="text-start">
                        <div class="d-flex flex-row align-items-center">
                          <img style="width:35px" class=""   src="images/recettes/tassethe.png"  alt="japon" >  
                          <h4 class="mt-2">Les différents types de thés</h4>
                        </div>
                        <p> La gamme de produits que nous vous présentons est classée par catégories ( Thé vert, Thé noir, etc ...)
                            <br> Vous trouverez les principales informations sur les produits dans cette présentation : Composition, conditionnement, prix.
                         </p>
                      </div>
                     
                  <div class="my-2 categoryText ">
                      
                          <div class="text-start">
                           <div class="d-flex flex-row align-items-center">
                              <img style="width:35px" class=""   src="images/male.png"  alt="japon" >  
                              <h4 class="mt-2">Les avantages client</h4>
                           </div>
                             
                                <p>Pour bénéficier des avantages client, inscrivez-vous comme futur client. Votre compte sera validé en quelques jours.
                                <br> Vous pourrez ensuite acheter au tarif pro. ( Les tarifs pro n'apparaîssent qu'aprés validation)
                              </p>
                          </div>
                          
                  </div>
                  <div class="my-2 categoryText">
                          <div class="text-start">
                           <div class="d-flex flex-row align-items-center">
                               <img style="width:15px" class=""   src="images/star.png"  alt="japon" >  
                               <img style="width:15px" class=""   src="images/star.png"  alt="japon" >  
                               <img style="width:15px" class=""   src="images/star.png"  alt="japon" >  
                              
                               <h4 class="mt-2 mx-2">La charte de qualité</h4>
                                <img style="width:15px" class=""   src="images/star.png"  alt="japon" >  
                               <img style="width:15px" class=""   src="images/star.png"  alt="japon" >  
                               <img style="width:15px" class=""   src="images/star.png"  alt="japon" >  
                              
                           </div>
                                <p>En choisissant PLF DISTRIBUTION, vous avez la garantie d'une sélection rigoureuse des produits selon nos valeurs de qualité et d'éthique.
                                </p>
                          </div>
                  </div>
                  <div class="my-2 categoryText">
                          <div class="text-start">
                           <div class="d-flex flex-row align-items-center">
                               <img style="width:30px" class=""   src="images/contratpro.png"  alt="japon" >  
                                 
                               <h4 class="mt-2 mx-2">Devenir client PRO</h4>
                                
                           </div>
                                <p>Il vous suffit de vous inscrire à partir de ce site, en complétant le formulaire d'inscription. <br>La validation de votre compte
                                 est déclenchée en 48H. Vous pourrez ensuite acheter au tarif pro. (Les tarifs PRO n'apparaîssent qu'aprés validation)
                                <br>Avec le compte PRO, vous avez acces aux tarifs PRO et aux services.
                              </p>
                          </div>
                  </div>
        </div>
            <div class="d-flex justify-content-center">
                    <img class="w-100 categoryMainImage"  src="images/pages/gamme/recolteuse_the.jpg"  alt="image recolteuse de thé" >    
            </div>
                <p class="text-center">Producteur de thé en asie.</p>
                <div class="mt-4 d-flex justify-content-center">
                        <h2 class="text-success">Découvrez nos thés et infusions</h2>
                        <div class="container row mt-5">
                                {% for category in categories %}
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <h5 class=" my-2 text-center" >{{category.nom}}</h5>
                                        <div class="mt-2" style=" height: 200px; display:flex; justify-content:center">
                                                
                                                <a title="Voir la gamme" href="{{ path('gamme_liste',{ 'id' : category.id } ) }}">
                                                    <img 
                                                        src="{{ category.imagepath1 }}" 
                                                        class="categoryImage"  
                                                        alt="image de la catégorie de thé"
                                                    >
                                                </a>
                                        </div>
                                        <div class="mt-2 categoryDescription"   >
                                            <div class="w-75">
                                                <span><p>{{ category.description[:100] ~ '. . .' }}
                                                <a href="{{ path('gamme_liste',{ 'id' : category.id } ) }}"  > Suite.
                                                </a> </p>  </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                        </div>
                </div> 
            </div>
{% endblock %}


