{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{'Tous les thés et rooibos de cette catégorie'|trans}}" />
{% endblock %} 

{% block body %}

<div class="container-flex ">
  <div  style="margin:2rem!important;">
    <h1 class="my-4 text-center text-success ttreT" >Notre gamme de {{ category.nom  | lower }}</h1>
    <h5 class="  text-center textArt" >{{ category.description }} </h5>
    <div style="margin-top:3rem;display:flex;justify-content:center"> {{ knp_pagination_render(articles, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}  </div>
    <div class="row d-flex flex-wrap   justify-content-around" >
            
        {#  parrcours les articles de la catégorie choisie #}
       
        {% for product in articles %}
            <div class="col-12 col-lg-4 col-md-12 " >
               
                <div class="card text-center my-4 mx-4 px-2  justify-content-around  "    >
                       <div class="mt-2" style="height:6rem!important;">
                        <h3 class ="text-center ttreT">{{ product.getProduct().designation }}</h3>
                         <p class="text-center textArt " >{{ product.getProduct().accroche }} </p>
                       </div>
                       
                        <div style="height:20rem!important;display:flex;justify-content:center">
                            {# test la présence d'une image #}
                            {% if product.getProduct().getProduitConditionnement() is not null  %} 
                                <a href="#"> 
                                <img id="img_{{ product.getProduct().id  }}" style="width:15rem;objective-fit:cover" src="{{product.getProduct().getProduitConditionnement().imagePath }}" class="imgsm mt-4 "  alt="...">
                                </a>
                            {% endif %} 
                        </div>
                        <div class="d-flex flex-row  justify-content-center detailSm">
                           <div class="detailSm">
                            <img  src="/images/ic_info.png" class="detailImgSm"  alt="icone info">
                            <a  class="gammeDetail  " href="{{ path('gamme_show', {'id': product.getProduct().id}) }}">En savoir plus </a>   
                           </div>
                        </div>
                        <hr>
                        {# **************************************************************************** #}
                        <h4 class="conditTxtSM">Conditionnements disponibles</h4>
                        <div class="mt-2"> 
                            <aside class=" container mt-2 d-flex flex-row justify-content-center w-100" >
                               {% if product.conditionnements |length < 4  %} 
                                  <div  id="containerSC{{product.getProduct().id}}" style=" width:800px;" class="d-flex flex-row justify-content-center">
                                      <div class=" scoll-pane-d d-flex flex-row justify-content-around "  >      
                                {% else %}    
                                       <button onclick="sdbl(this)" id="btl_{{product.getProduct().id}}"  class="slideBt" type="button"><</button>   
                                       <div  id="containerSC{{product.getProduct().id}}"  class="scroll scoll-pane d-flex flex-row justify-content-center">
                                           <div class=" d-flex flex-row justify-content-around "  > 
                                    
                                {% endif  %}  
 
                                         {# Boucle sur les conditionnements disponibles #}
                                        {% for conditionnement in product.conditionnements %}
                                    <div class="  text-center  "  >
                                        <input type="radio" onclick=choice(this) class="condit" name="{{product.getProduct().id }}" checked="checked" id="{{ conditionnement.id }}" /> 
                                        <label  for="{{ conditionnement.id }}" >
                                        <img src="{{ conditionnement.getConditionnement().imagepath }}" class="conditImgSM"   alt="logo du conditionnement">
                                        </label>
                                        <div class="mt-1" condTitre>{{conditionnement.getConditionnement().designation}}</div>
                                        <h4 style="display:none;" id="IM_{{ conditionnement.id }}"> {{ conditionnement.imagePath  }} </h4>
                                        {% for tarif in conditionnement.tarifs %}

                                        {% if tarif.typePrix is same as "PRIX_PUBLIC" %} 
                                        <h4 style="display:none" id="PP_{{ conditionnement.id }}">
                                            {{  (tarif.prixUnitaire/100)|number_format(2, '.', ',') }}€
                                        </h4>
                                        {% endif %} 
                                        {% if tarif.typePrix is same as "PRIX_PRO" %} 
                                            <h4 style="display:none" id="PR_{{ conditionnement.id }}">
                                                {% if app.user %}
                                                    {% if app.user.roles[0] is same as "ROLE_CLIENT" or app.user.roles[0] is same as "ROLE_ADMIN" %}
                                                            {{  (tarif.prixUnitaire/100)|number_format(2, '.', ',') }}€
                                                    {% endif %}  
                                                {% endif %} 
                                            </h4>
                                        {% endif %} 
                                        {% else %}
                                                <h4 style="display:none" id="PP_{{ conditionnement.id }}">
                                                    N.C
                                                </h4> 
                                                <h4 style="display:none" id="PR_{{ conditionnement.id }}">
                                                    N.C
                                                </h4>
                                        {% endfor %}

                                    </div>   

                                    {% else %}
                                        <td colspan="15">Pas de conditionnement</td>
                                    {% endfor %}
                            </div>  
                         
                        </div>
                     {# **************************************************************************** #}
                           {% if product.conditionnements |length > 3  %}
                                <button id="btr_{{product.getProduct().id}}"   onclick="sdfl(this)"  class="slideBt" type="button">></button> 
                            {% endif  %} 
                        </div>
                        <hr>
                        <div class="mb-2" style=" height:12rem!important;display:flex;flex-direction:column;justify-content:start">
                            <h4 class="conditTxtSM">Description</h4>
                            <p class="my-1 textArt">{{ product.getProduct().description }}</p>
                        </div>
                        <hr>
                            
                {% if app.user %} 
                            
                            {% if app.user.roles[0] is same as "ROLE_CLIENT" or app.user.roles[0] is same as "ROLE_ADMIN" %}
                                   
                                   {% if product.Getproduct().getCategory().Gamme is same as "TH" %}
                                        <h3 class="conditTxtSM">Tarif pro et public</h3>
                                        <p class="stextArt"> (Prix public TTC à titre indicatif dont tva 5.5%)</p>
                                    {% else %}
                                     <h3 class="conditTxtSM">Tarif pro </h3>
                                        
                                     {% endif  %} 

                                    <div class="mt-1" style="display:flex;flex-direction:row;justify-content:space-around;align-items:center ">
                                        <div class="m-2" style="display:flex;flex-direction:column;algn-items:center;line-height:1px ">
                                            <h2 class="prixHT" id="selp_{{ product.getProduct().id  }}"></h2>
                                            <p class="LprixHT" >Prix PRO H.T*</p>
                                        </div>
                                        
                                            <div 
                                               {% if product.Getproduct().getCategory().Gamme is same as "TH" %}
                                                        style= class="m-2" >
                                                 {% else %}
                                                        style="display:none" class="m-2">
                                                 {% endif  %} 
                                         
                                                <div class="prixTTC"  id="sel_{{ product.getProduct().id  }}">0</div>
                                                <div class="LprixTTC">Prix public TTC </div>
                                           
                                            </div>
                                      
                                    </div>
                                     <p class="mt-4 mb-0" style="font-size:small">* Frais de port gratuits à partir de 200€ H.T en colissimo ou Mondial relay <a href="#"> (Voir Conditions) </a></p>
                                    <hr>
                            {% elseif  app.user.roles[0] is same as "ROLE_TRANSIT" %}
                                <h4>Tarif public T.T.C (Tva 5.5%)</h4>
                                <div class="mt-1" style="display:flex;flex-direction:row;justify-content:space-around;align-items:center ">
                                    <div class="m-2 text-dark">
                                        <div class="prixTTC"  id="sel_{{ product.getProduct().id  }}"></div>
                                        <div class="LprixTTC">Prix public TTC hors frais de port </div>
                                    </div>
                                    <div style="display:none;flex-direction:row">
                                        <h4 class="LprixHT"> Prix PRO HT : </H4>  
                                        <h4 class="prixHT" id="selp_{{ product.getProduct().id  }}"></H4>
                                    </div>  
                                </div>
                                <hr>
                            {% else %}  
                                    <div style="display:none;flex-direction:row">
                                        <h4 class="LprixHT"> Prix PRO HT : </H4>  
                                        <h4 class="prixHT" id="selp_{{ product.getProduct().id  }}"></H4>
                                    </div>  
                            {% endif %}  
                                {# bouton du panier #}
                                <div class="mb-4" style="display:flex;flex-direction:row;justify-content:center">
                                 <a id="pan_{{ product.getProduct().id  }}" href="{{ path('cart_add',{'id': product.getProduct().id }) }}" 
                                     class="  btPanier  ">Ajouter au panier
                                 </a>
                                </div>
                            {% else %}   
                                    <div class="text-center">
                                        <a class="nav-link connectNotif" href="{{ path('app_login') }}">Connectez-vous pour voir les tarifs</a>
                                    </div>
                            {% endif %}  
                        </div>
                    </div>
                {% else %}
                    <p>
                        <td colspan="15">no records found</td>
                    </p>
     
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}