{% extends '/base.html.twig' %}

{% block title %}detail{% endblock %}

{# traitement de la meta description pour le référencement #}
{% block head %}
  {{ parent() }}
  <meta name="description" content="{{'Découvrez les caractéristiques gustatives de ce thé'|trans}}" />
{% endblock %} 

{% block body %}
<div class="container-flex d-flex  fnd justify-content-center">
    {# <div class="container-flex bg-white pt-2 pb-4" > #}
       <div class="bg-white mx-4 mt-4 mb-4  categoryMainImage" style="opacity:.90">
           {# bloc principal contenant les deux parties gauche et droite #}
        <div class=" mx-4 my-4  pt-4 row d-flex flex-wrap justify-content-around" >
            {# bloc gauche #}
            <aside  class="detailGammeSepDroite col-12 col-lg-6 col-md-12 d-flex flex-column align-items-center">
                <div class="text-center"  > 
                    <h1 class="ttreT"> {{ product.designation }} </h1>
                    <h6 class="textArt">{{ product.accroche }} </h6>
                     
                        {% if product.getProduitConditionnement() is not null  %} 
                            
                                <img id="img_{{ product.id }}"  src=" {{product.getProduitConditionnement().imagePath }}" class="imgsm"  alt="image du produit choisi">
                        
                        {% endif %} 
                    
                </div>
                <div class=" d-flex flex-row justify-content-center "  > 
                    <div class="text-start w-100 "  > 
                            {% for item in product.getRecette() %}   
                                <div class="row w-100 d-flex align-items-center my-2">
                                    <div class="col-2"> 
                                        <img src=" \{{item.imagePath }}" class="imRecetteSM"  alt="image de la recette">
                                    </div>
                                    <div class="col-10 mt-4" style="line-height:20px;"> 
                                        <strong><p class="receTitre text-dark ms-2">{{ item.nom }} </p></strong>
                                        <p  class="recText ms-2">{{ item.description }} </p>
                                    </div>
                                </div>
                            {% endfor %}
                             {% if product.isBio  %} 
                                    <div class="row w-100 d-flex align-items-center my-4">
                                        <div class="col-2"> 
                                            <img src="/images/bio.png" class="BioSM ms-2"  alt="label bio">
                                        </div>
                                        <div class="col-10 mt-3" style="line-height:3px;"> 
                                            <strong><p class="BioTitre ms-2 text-dark"> Certifié AB.</p></strong>
                                        </div>
                                    </div>
                            {% endif %} 
                    </div>
                </div>
               
            </aside>
            {# bloc droit #}
            <aside  class="detailGammedroite px-2 mb-4 pb-2 col-12 col-lg-6 col-md-12 d-flex flex-column align-items-center" >
                <div  class="detailGammeSepBasse detailGammeSepDescr w-100 d-flex flex-column align-items-center text-center pt-2" >
                    <h3 class="conditTxtSM">Description </h3>
                    <p class="textArt">{{ product.description }} </p>
                </div>
               
                <h3 class="my-2 conditTxtSM">Conditionnement disponibles </h3>
                <aside class="container   mt-2 d-flex flex-row justify-content-center w-100" >
                 {# {% if conditionnements |length < 4  %}
                   <div  class="  scoll-pane d-flex flex-row justify-content-between ">
                {% else %}  
                        <button onclick="sdb()"  class="  slideBt" type="button"><</button> 
                        <div id="containerSC" class="  scoll-pane d-flex flex-row justify-content-between ">
                {% endif  %} #}
                    {% if conditionnements |length < 4  %} 
                        <div  id="containerSC" style=" width:800px;" class="d-flex flex-row justify-content-center">
                            <div class=" scoll-pane-d d-flex flex-row justify-content-around "  >      
                    {% else %}    
                            <button onclick="sdb()" id="btl"  class="slideBt" type="button"><</button>   
                            <div  id="containerSC"  class="scroll scoll-pane d-flex flex-row justify-content-center">
                                <div class=" d-flex flex-row justify-content-around "  > 
                        
                    {% endif  %}  
                    {# Boucle sur les conditionnements disponibles #}
                    {% for conditionnement in conditionnements %}
                    <div class="text-center  "  >
                        
                            <input type="radio" onclick=choice(this) class="ulSc condit" name="{{product.id }}" checked="checked" id="{{ conditionnement.id }}" /> 
                            <label  for="{{ conditionnement.id }}" >
                                <img class="conditImgSM" src="{{ conditionnement.getConditionnement().imagepath }}"    alt="logo du conditionnement">
                            </label>
                            <p class="mt-1 condTitre"  >{{conditionnement.getConditionnement().designation}}</p>
                            <h4 style="display:none" id="IM_{{ conditionnement.id }}"> {{ conditionnement.imagePath  }} </h4>
                                {% for tarif in conditionnement.tarifs %}

                                    {% if tarif.typePrix is same as "PRIX_PUBLIC" %} 
                                    <h4 style="display:none" id="PP_{{ conditionnement.id }}">
                                        {{  (tarif.prixUnitaire/100)|number_format(2, '.', ',') }}€
                                    </h4>
                                    {% endif %} 
                                {% if tarif.typePrix is same as "PRIX_PRO" %} 
                                    <h4 style="display:none" id="PR_{{ conditionnement.id }}">
                                        {% if app.user %}
                                            {% if app.user.roles[0] is same as "ROLE_CLIENT" or app.user.roles[0] is same as "ROLE_ADMIN" %}
                                                    {{  (tarif.prixUnitaire/100)|number_format(2, '.', ',') }}€
                                            {% endif %}  
                                        {% endif %} 
                                    </h4>
                                {% endif %} 
                            {% else %}
                                    <h4 style="display:none" id="PP_{{ conditionnement.id }}">
                                        N.C
                                    </h4> 
                                    <h4 style="display:none" id="PR_{{ conditionnement.id }}">
                                        N.C
                                    </h4>
                            {% endfor %}
                    </div>   

                    {% else %}
                            
                            <td colspan="15">Pas de conditionnement</td>
                        
                    {% endfor %}
               
                    
                    </div>  
                </div>  
                  {% if conditionnements |length > 3  %}
                    <button id="btr" onclick="sdf()"  class="slideBt" type="button">></button>
                   {# <button  onclick="sdf()"  class="slideBt" type="button">></button>  #}
                 {% endif  %} 
            </aside>
            {# tarifs #}
            <section class="pt-2 detailGammeSepHaute text-center">       
                {% if app.user %} 
                    {% if app.user.roles[0] is same as "ROLE_CLIENT" or app.user.roles[0] is same as "ROLE_ADMIN" %}
                           {% if product.getCategory().Gamme is same as "TH" %}  
                             <h3 class="conditTxtSM">Tarif pro et public</h3>
                             <p class="stextArt"> (Prix public TTC à titre indicatif dont tva 5.5%)</p>
                            {% else %}
                             <h3 class="conditTxtSM">Tarif pro </h3>
                            {% endif  %} 
                            <div class="mt-1" style="display:flex;flex-direction:row;justify-content:space-around;align-items:center ">
                                <div class="m-2" style="display:flex;flex-direction:column;algn-items:center;line-height:1px ">
                                    <h2 class="prixHT"  id="selp_{{ product.id  }}"></h2>
                                    <p class="LprixHT">Prix PRO H.T*</p>
                                </div>
                                <div 
                                   {% if product.getCategory().Gamme is same as "TH" %}  
                                       class="m-2 text-secondary" style="display:flex;flex-direction:column;algn-items:center;line-height:0.51px ">
                                    {% else %}
                                       class="m-2 text-secondary" style="display:none ">
                                    {% endif  %} 
                                    <h2 class="prixTTC"   id="sel_{{ product.id  }}"></h2>
                                    <p  class="LprixTTC" >Prix public TTC</p>
                                </div>
                            </div>
                            <p class="mt-4 mb-0" style="font-size:small">* Frais de port gratuits à partir de 200€ H.T en colissimo ou Mondial relay <a href="{{ path('ConditionsVente') }}"> (Voir Conditions) </a></p>
                            <br>
                    {% elseif  app.user.roles[0] is same as "ROLE_TRANSIT" %}
                            <h4>Tarif public T.T.C (Tva 5.5%)</h4>
                            <div class="mt-1" style="display:flex;flex-direction:row;justify-content:space-around;align-items:center ">
                                <div class="m-2 text-dark" style="display:flex;flex-direction:column;algn-items:center;line-height:0.51px ">
                                    <h2  style="font-family:Segoe UI Semibold;font-weight:800;font-size:3rem"   id="sel_{{ product.id  }}"></h2>
                                    <p style="font-size:small">Prix public TTC hors frais de port </p>
                                </div>
                                <div style="display:none;flex-direction:row">
                                    <h4> Prix PRO HT : </H4>  
                                    <h4 id="selp_{{ product.id  }}"></H4>
                                </div>  
                            </div>
                    {% else %}  
                            <div style="display:none;flex-direction:row">
                                <h4> Prix PRO HT : </H4>  
                                <h4 id="selp_{{ product.getProduct().id  }}"></H4>
                            </div>  
                    {% endif %}  
                        {# bouton du panier #}
                        <div class="mb-2" style="display:flex;flex-direction:row;justify-content:center">
                                    <a   id="pan_{{ product.id  }}" href="{{ path('cart_add',{'id': product.id }) }}"  class="btPanier">Ajouter au panier</a>
                        </div>
                {% else %}   
                        <div class="text-center">
                            <a class="nav-link connectNotif" href="{{ path('app_login') }}">Connectez-vous pour voir les tarifs</a>
                        </div>
                {% endif %}                 
            </section>   
            {# Composition    #}
            <section 
              {% if product.getCategory().Gamme is same as "TH" %}
                   class="detailGammeSepHaute w-100 my-3 d-flex flex-column align-items-center"  >
               {% else %} 
                    style="display:none" >
                {% endif  %} 
                 <h3 class="mt-3 conditTxtSM">Composition </h3>
                 <p class="textArt">{{ product.composition }} </p>
               
            </section>
        </div>
        <div  class="mx-2 ">
            <hr>
        </div>
        {# recommandations #}
        {% if product.getCategory().Gamme is same as "TH" %}
        <div class="detailGammeReco w-100  mt-3" >
            
                            <div class="text-center">
                                <div> 
                                    <img   src="/images/recomandations/balance.png" class="imRecoSM"  alt="image de la recette">
                                </div>
                                <div class=" mt-3 detailGammeinterligneReco"> 
                                    <strong><p  class="textReco text-dark">{{ product.RecoDose }} </p></strong>
                                </div>
                            </div>
                            <div class="text-center">
                                <div> 
                                    <img src="/images/recomandations/chrono.png" class="imRecoSM"  alt="image de la recette">
                                </div>
                                <div class=" mt-3 detailGammeinterligneReco"> 
                                    <strong><p  class="textReco text-dark">{{ product.RecoDuree }} </p></strong>
                                    
                                </div>
                            </div>
                            <div class="text-center">
                                <div> 
                                    <img   src="/images/recomandations/Thermo2.png" class="imRecoSM"  alt="image de la recette">
                                </div>
                                <div class="detailGammeinterligneReco mt-3"> 
                                    <strong><p  class="textReco text-dark">{{ product.Recotemp }} </p></strong>
                                    
                                </div>
                            </div>
                            <div  class="text-center">
                                <div> 
                                    <img   src="/images/recomandations/calendar.png" class="imRecoSM"  alt="image de la recette">
                                </div>
                                <div class=" mt-3 detailGammeinterligneReco"> 
                                    <strong><p  class="textReco text-dark">{{ product.RecoUsage }} </p></strong>
                                    
                                </div>
                            </div>
                    
             </div>
        {% endif  %} 
    </div>
 
</div>
{% endblock %}
